<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.infosys.datacollect.dao.InstanceViewMapper">
	<resultMap id="BaseResultMap" type="InstanceView">
		<result column="name" property="name" />
		<result column="type" property="typeName" />
		<result column="category" property="categoryName" />
	</resultMap>

	<select id="findAll" resultMap="BaseResultMap" parameterType="InstanceView">
		SELECT * FROM instance_view WHERE 1=1
		<if test="name != null">
			AND name = #{name}
		</if>
		<if test="typeName != null">
			AND type = #{typeName}
		</if>
		<if test="categoryName != null">
			AND category = #{categoryName}
		</if>
		ORDER BY id
	</select>
	
	<select id="findOne" parameterType="integer" resultMap="BaseResultMap">
		SELECT * FROM instance_view WHERE id=#{id}
	</select>
</mapper>